<form action="/calculate" method="post">
  <div class="form-group">
    <label for="amount">Kwota</label>
    <input name="amount" type="text" class="form-control" placeholder="Podaj kwotę" id="amount">
  </div>

  <div class="form-group">
    <label for="percent">Procent</label>
    <input name="percent" type="text" class="form-control" placeholder="Podaj procent Dla 5% wpisz 5" id="percent">
  </div>

  <div class="form-group">
    <label for="years">Liczba lat</label>
    <input name="years" type="text" class="form-control" placeholder="Podaj liczbę lat" id="years">
  </div>
  
  <button type="submit" class="btn btn-default">Policz</button>
</form>
